<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="Validation">
        <groups>
            <run>
                <include name="validation"></include>
            </run>
        </groups>
        <classes>
            <class name="FactorialOfOutOfRangeNumberTest"></class>
        </classes>
    </test>
    <test name="Functional">
        <groups>
            <run>
                <include name="functional"></include>
            </run>
        </groups>
        <classes>
            <class name="CorrectResultTest"></class>
            <class name="FactorialOfZeroTest"></class>
        </classes>
    </test>
</suite>
